.Timetable-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.Timetable {
  width: 100%; /* Set timetable width to 100% */
}

.Timetable table {
  width: 100%;
  border-spacing: 0;
}

.Timetable th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.Timetable th {
  background-color: #f2f2f2;
}

.Timetable table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

.Timetable table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

.Timetable table thead tr th:first-child {
  border-top-left-radius: 10px;
}

.Timetable table thead tr th:last-child {
  border-top-right-radius: 10px;
}
