.Timetable-frame {
  padding: 20px;
  margin-bottom: 20px; /* Add margin-bottom to create space below the timetable */
}

.SearchBar {
  margin-bottom: 20px; /* Add margin-bottom to create space below the search bar */
}

.Added-courses-panel {
  margin-top: 20px;
}

.Added-courses-panel h2 {
  margin-bottom: 10px;
}

.Added-courses-panel ul {
  list-style-type: none;
  padding: 0;
}

.Added-courses-panel li {
  margin-bottom: 5px;
}

.Homepage-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.Profile-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
}

.Profile-button:hover {
  background-color: #0056b3;
}
